atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  background-color:#232e34;

    .gutter {
        background-color: #263238!important;
        margin-right: 8px;
    }
    .line-number{
        background-color:#263238;
    }

    .gutter .line-number.cursor-line {
        background-color: #263238!important;
    }

  .syntax--entity.syntax--name.syntax--tag{
      text-decoration:none;
  }
  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;


    .line-number {
      padding: 0 0.25em 0 0.5em;
      -webkit-font-smoothing: antialiased;

      opacity:1;
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-result-marker-color;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-left: 2px solid @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .bracket-matcher .region {
    border-bottom: 1px solid @syntax-cursor-color;
  }
}
